.main-title-img {
  margin-top: 20vh;
  width: 100%;
  @media screen and (min-width: 2600px) {
    margin-top: 8em;
  }
}

.sharp-style {
  width: 55%;
  position: absolute;
  z-index: 10;
  top: 370px;
  left: 30px;
}

.sharp-1 {
  @extend .sharp-style;
  will-change: transform, contents;
}

.title-1 {
  display: flex;
  position: relative;
  border-right: 1.5em solid #708E79;
  height: 3.3em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 39em;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 1rem;
}

.title-2 {

}

.content-container-1 {
  width: 100%;
  height: calc(100vh - 380px);
  display: flex;
  align-items: center;
  padding-left: 5rem;

  .title-black {
    font-size: 3rem;
    font-weight: bold;
  }

  .title-color {
    font-size: 3rem;
    font-weight: bold;
    color: #708E79;
  }
}

.content-container-2 {
  height: 100vh;
  background-color: green;
}

.intro-container {
  width: 100%;
  position: relative;
}

.intro-wrap {
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.sharp-wrap {
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.sharp-style {
  display: flex;
  justify-content: right;
  position: sticky;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
  height: 100vh;
}

.sharp-wrap-height {
  overflow: hidden;
  top: 0;
  margin: 0;
  height: 100vh;
  align-items: center;
  position: sticky;
  width: 100vw;
}

.sharp-1 {
  transform: rotate(-0) rotateY(-0) rotateX(0);
  width: 90%;
}

.style-asset {
  perspective: 1600px;
  position: relative;
  will-change: transform;
  width: 50%;
  transform: translateY(-200px);
  transform-origin: center top;
}

.body-content {
  .list-content {
    height: 100vh;
  }
}
