.sharp-style {
  position: absolute;
  z-index: 10;
  top: 370px;
  left: 30px;
}

.content-style {
  position: relative;
}

.intro-container {
  width: 100%;
  position: relative;

  .intro-wrap {
    position: relative;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    .sharp-wrap {
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      will-change: transform;

      .sharp-wrap-height {
        overflow: hidden;
        top: 0;
        margin: 0;
        height: 100vh;
        position: sticky;
        width: 100vw;
        display: flex;

        .sharp-style {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: right;
          align-items: center;
          position: sticky;
          object-fit: contain;

          .style-asset {
            perspective: 1600px;
            position: relative;
            will-change: transform;
            width: 60%;
            height: 500px;
            transform-origin: center top;
            display: flex;
            justify-content: center;

            .sharp-1 {
              width: 700px;
              height: 100%;
              @extend .sharp-style;
              will-change: transform, contents;
              .item-1 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
              }
              .item-2 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
              }
              .item-3 {
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }

    .content-container {
      max-width: 100vw;
      align-self: center;
      margin: 0 auto;
    }

    .content-container-1 {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      background: linear-gradient(301.39deg, #000000 -54.66%, #315875 70.89%, rgba(82, 70, 131, 0.901042) 106.94%, rgba(255, 255, 255, 0) 184.01%);;

      .wrap-title {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title-1 {
          display: flex;
          position: relative;
          border-right: 1.5em solid #0C73B2;
          height: 2.7rem;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          width: 26em;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          margin-bottom: 1rem;
        }

        .title-2 {
          overflow: hidden;
          display: block;
        }
      }

      .title-black-1 {
        font-size: 2rem;
        font-weight: bold;
        color: white;
      }

      .title-black {
        font-size: 2rem;
        font-weight: bold;
        animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        opacity: 0;
        color: white;
      }

      @keyframes reveal {
        0% {
          transform: translate(0, 100%);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      .title-color {
        font-size: 2rem;
        font-weight: bold;
        color: #9CF3D4;
      }
    }

    .wrap-container {
      width: 1200px;
      margin: auto auto;
    }

    .content-container-2 {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .content {
        background: linear-gradient(119.27deg, #073668 -8.25%, #000000 43.26%, #072F58 88.2%);
        width: 100%;
        height: 70%;
        box-shadow: -5px 5px 40px 5px rgba(9, 76, 147, 0.4);
        border-radius: 30px;
        display: grid;
        grid-template-columns: 60% 45%;
        position: relative;

        .content-container-2-wrap {
          width: 85%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .wrap-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
          }

          .title {
            letter-spacing: 5px;
            font-weight: bold;
            color: #375A42;
            font-size: 2.5rem;
            font-style: normal;
            /* or 100% */
            background: linear-gradient(91.39deg, #FFFFFF 15.82%, rgba(111, 187, 245, 0.901563) 51.41%, rgba(228, 244, 255, 0.910313) 94.54%, rgba(8, 43, 84, 0.58) 119.34%);
            -webkit-background-clip: text;
            white-space: pre-wrap;
            word-wrap: break-word;
            -webkit-text-fill-color: transparent;
          }

          .text-content {
            padding-top: 2rem;
            font-weight: 400;
            font-size: 1rem;
            white-space: pre-wrap;
            word-wrap: break-word;
            color: white;
            line-height: 1.7rem;
            letter-spacing: 0.5px;
          }
        }

        @extend .content-style
      }

      .polygon-1 {
        position: absolute;
        bottom: 10%;
        left: -2vw;
        z-index: 1;
        width: 300px;
      }

      .sticker-1 {
        position: absolute;
        top: 9%;
        right: -3%;
        transform: rotate(270deg);
      }
    }

    .content-container-3 {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .content {
        background: linear-gradient(119.27deg, #073668 -8.25%, #000000 43.26%, #072F58 88.2%);
        width: 100%;
        height: 70%;
        box-shadow: -5px 5px 40px 5px rgba(9, 76, 147, 0.4);
        border-radius: 30px;
        display: grid;
        grid-template-columns: 60% 45%;
        position: relative;
        @extend .content-style
      }
      .sticker-2 {
        position: absolute;
        top: 12%;
        left: -5%;
      }
    }
  }
}

.body-content {
  .list-content {
    height: 100vh;
  }
}
