@import 'tooltips';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $--font-family-default;
  font-size: 16px;
  background: #FEFFFA;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $--color-primary-darken;
  cursor: pointer;
}
button {
  font-family: $--font-family-default;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 1500px) {
    width: 1000px;
  }
  @media screen and (max-width: 1200px) {
    width: 800px;
  }
  @media screen and (max-width: 1000px) {
    width: 600px;
  }
}
.main__container {
  display: block;
  width: 100%;
  height: 100%;
}
